* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
}

.app-container {
    width: 50%;
    height: 300px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.app-container .logo {
    width: 500px;
    height: 40px;
}

.app-container .input-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    user-select: none;
}

.app-container .input-container .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    margin: 5px 0;
    border-radius: 50px;
}

.app-container .input-container button {
    width: 100%;
    background-color: #0860d4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    text-transform: none;
    padding: 10px;
    margin-top: 35px;
}

.app-container .input-container button:hover {
    cursor: pointer;
}

.app-container hr {
    width: 100%;
    margin: 30px 0;
    border: 1px dashed #444444;
}

.app-container .output-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-container .output-container .password {
    width: 100%;
    background-color: #111111;
    border: 2px solid #444444;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    text-transform: none;
    text-align: center;
    transition: transform 0.5s;
}

.app-container .output-container .password:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.tooltip {
    text-transform: none;
    margin-top: 5px;
    visibility: hidden;
}

.app-container .output-container:hover .tooltip {
    visibility: visible;
}

